<!DOCTYPE HTML>
<html xmlns:th="http://www.asbamboo.com">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:text="${error_string}"></div>
    <form method="post">
    	<div><label>订单号（in_trade_no）:<input type="text" value="" id="in_trade_no" name="in_trade_no" /></label></div>
    	<div><label>订单号（out_trade_no）:<input type="text" value="" id="out_trade_no" name="out_trade_no" /></label></div>
    	<div><label>退款编号（out_refund_no）:<input type="text" value="" id="out_refund_no" name="out_refund_no" /></label></div>
    	<div><label>退款金额（refund_fee）:<input type="number" value="" id="refund_fee" name="refund_fee" /></label></div>
    	<div><label>第三方支付平台的参数（third_part）json格式选填:<input type="text" value="" id="third_part" name="third_part" /></label></div>
    	<div><input type="submit" value="提交"></div>
    </form>
    <script th:inline="javascript">
		cookies		= document.cookie.split(';');
		for(i in cookies){
			cookie	= cookies[i].split("=");
			if(cookie[0] == "in_trade_no" || cookie[0] == " in_trade_no"){
				document.getElementById("in_trade_no").value = cookie[1];
				document.getElementById("out_refund_no").value = 'RE' + cookie[1];
			}else if(cookie[0] == "trade_fee" || cookie[0] == " trade_fee"){
				document.getElementById("refund_fee").value = cookie[1];				
			}
		}
    </script>    
    
	<div th:unless="${#sets.isEmpty(trade_response)}">
		<ul>
			<li><div>响应值HTTP Code：<span th:text="${trade_response.getHttpCode()}">Code</span></div></li>			
			<li><div>响应值：<span th:text="${trade_response.getHttpBody()}">response</span></div></li>
			<!--/*/ <th:block th:if="${trade_response.getIsSuccess()}"> /*/-->
			<li><div>退款编号（in_refund_no）：<span th:text="${trade_response.getInRefundNo()}">in_refund_no</span></div></li>
			<li><div>退款编号（out_refund_no）：<span th:text="${trade_response.getOutRefundNo()}">out_refund_no</span></div></li>
			<li><div>订单号（in_trade_no）：<span th:text="${trade_response.getInTradeNo()}">in_trade_no</span></div></li>
			<li><div>订单号（out_trade_no）：<span th:text="${trade_response.getOutTradeNo()}">out_trade_no</span></div></li>
			<li><div>退款金额（单位为分）：<span th:text="${trade_response.getRefundFee()}">0</span></div></li>
			<li><div>退款的付款时间：<span th:text="${trade_response.getRefundPayYmdhis()}">0000-00-00</span></div></li>
			<li><div>退款申请状态：<span th:text="${trade_response.getRefundStatus()}">refund_status</span></div></li>
		    <!--/*/ </th:block> /*/-->
		</ul>
	</div>
	
	<a href="/">回到索引页面</a>
</body>
</html>
